<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet"
    type = "text/css"
    href = "main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="body1">
        <h1 class="h1-white">Popular Solutions</h1>
        <div class="rowx">
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1%;">
        <h1 class="h1-blk">Discover New Solutions</h1>
        <div class="rowx">
        <div class="colx-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                    <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                    <button type="button" class="btn btn-success">Install</button>
                    <button type="button" class="btn btn-light">Request info</button>
                </div>
            </div>
        </div>
        <div class="colx-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                    <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                    <button type="button" class="btn btn-success">Install</button>
                    <button type="button" class="btn btn-light">Request info</button>
                </div>
            </div>
        </div>
        <div class="colx-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                    <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                    <button type="button" class="btn btn-success">Install</button>
                    <button type="button" class="btn btn-light">Request info</button>
                </div>
            </div>
        </div>
        <div class="colx-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                    <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                    <button type="button" class="btn btn-success">Install</button>
                    <button type="button" class="btn btn-light">Request info</button>
                </div>
            </div>
        </div>
    
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
            <div class="colx-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><img style="width: 40px; border-radius: 16px; margin-right: 10px;" src="./resources/img/pp.png">Fuel Tracker</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 50px;"> <img style="width: 10px; margin-right: 5px;" src="./resources/img/hotel.png">Geotab Inc.</h6>
                        <p class="card-text">The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                        <button type="button" class="btn btn-success">Install</button>
                        <button type="button" class="btn btn-light">Request info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>